<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mon premier dashboard</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script> 

    <script src="/static/mydashboard.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">

  </head>

  <body>

    <div class="content">

      <header>
        <div class="header-background"></div>
        <div class="title">
          <h1>
            Mon dashboard
          </h1>
        </div>
      </header>

      <main>
        <div class="chartContainer">

          <div id="actu" class="chart">
            <div id="nuage">
            </div>
            <div id="listeArticles">
              <text class="chartTitle">Articles</text>
              <div id="tableauArticles"></div>
            </div>
          </div>

          <div id="meteo" class="chart">
            <text class="chartTitle">Prévision de température</text>
            <svg></svg>
          </div>

        </div>
      </main>
    </div>

  </body>
</html>